:root {
    /* Default (light) theme */
    --bg: #fff;
    --accent-bg: #FFF0DE;
    --text: #212121;
    --text-light: #585858;
    --border: #DDAEAB;
    --accent: #E28718;
    --accent-hover: #FFBF71;
    --accent-text: var(--text);
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: #efefef;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --bg: #212121;
        --accent-bg: #2b2b2b;
        --text: #dcdcdc;
        --text-light: #ababab;
        --accent: #FCB967;
        --accent-hover: #F8C689;
        --accent-text: var(--bg);
        --code: #f06292;
        --preformatted: #ccc;
        --disabled: #111;
    }
}