footer {
    display: flex;
    gap: 40px;
    font-size: 1rem;
}
.credit-toggle p {
    margin: 0;
}
label {
    margin-left: 5px;
}
#simple-list {
    display: none;
}
h1 {
    margin-bottom: 1rem;
}
body {
    grid-template-columns: 1fr min(55em,90%) 1fr;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.notice {
    padding: 1rem;
    margin: 0;
}
.stats {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    border-top: 1px solid var(--border);
    margin-top: 10px
}
.details p {
    font-size: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.card-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.adult-content {
    color: var(--code);
}
.summary {
    font-size: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
li {
    margin-bottom: 0.5rem;
}
.credit-toggle {
    display: flex;
    justify-content: space-between;
}
ul {
    padding-left: 1rem;
}
#detail-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 1rem;
}
.accent {
    color: var(--accent);
}
button {
    padding: 7px;
    color: var(--accent);
    background-color: transparent;
    margin-bottom: 15px;
}
button:hover {
    color: var(--accent-text);
    background-color: var(--accent);
}
.btn-group {
    display: flex;
    gap: 20px;
}
.two-col {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}